/* CSS v: 2.7 */
.icon {
    font-size: 1em;
    vertical-align: -0.125rem;
    line-height: inherit;
}

.h-100 {
    height: 100%;
}

.font-sm {
    font-size: 0.9em !important;
}

.keepformat {
    white-space: pre-wrap !important;
}

.nowrap {
    white-space: nowrap !important;
}

.piktogram {
    font-size: 1.5em;
}

i {
    font-style: italic;
}

.w-20 {
    width: 20% !important;
}

.btn-tiny {
    --bs-btn-padding-y: 0.25rem;
    --bs-btn-padding-x: 0.5rem;
    --bs-btn-font-size: 0.75rem;
}